table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  cursor: pointer;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th,
tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: yellow;
  color: #000;
}

button {
  padding: 10px;
  margin: 10px;
  background: transparent;
  /* border: 2px solid black; */
  border-radius: 8px;
}

input,
select {
  padding: 6px 10px;
  margin: 0 6px;
  border-radius: 8px;
  border: 1px solid black;
}

.bottom-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
